extends layout

block content
  .main
    != messages('message', locals)
    .mainHeading
      h2= article.title
    .timestamp.mainContent
      h6= article.timestamp
    .mainInfo
      p.mainContent= article.body
    .author.mainContent
      if profile != mull
        if profile.profileImageName !== undefined
          img.authorAvatar(src=profile.profileImageName, alt='avatar')
        else
          img.authorAvatar(src='/images/avatar.png', alt='avatar')
      else
        img.authorAvatar(src='/images/avatar.png', alt='avatar')
      h5 #{author}
    if user.id == article.author
      .buttonCont
        a.btn.btn-primary(href='/news/edit/'+article._id) Edit
        a.btn.btn-danger.cncl.delete-article(href='#', data-id=article._id) Delete