extends layout

block content
  .main
    != messages('message', locals)
    .profileHead
      h4.profileHeading #{name}
    .avatarImg
      if profile
        if profile.profileImageName
          img.avatar(src=profile.profileImageName, alt='avatar')
        else
          img.avatar(src='/images/avatar.png', alt='avatar')
      else
        img.avatar(src='/images/avatar.png', alt='avatar')
    if user
      .emailHead
        h6 E-mail
      .email
        h6.mainContent=user.email
    if profile
      if profile.phone
        .phoneHead
          h6 Phone
        .phone
          h6.mainContent=profile.phone
      if profile.position
        .positionHead
          h6 Position
        .position
          h6.mainContent=profile.position
    .profileEdit
      a.btn.btn-primary.profileBtn(href='/profile/edit') Edit Profile